<div class="container-fx">
    <div class="login-box">
        <form>
            <div class="login-header">
                <h2>BanCode</h2>
            </div>
            <div class="content">
                <div class="placeholder-wrap">
                    <input name="Name" type="text" class="placeholder-input cpf" id="name" required autocomplete="off" placeholder="Digite o seu CPF ">

                </div>
                <div class="placeholder-wrap">
                    <input name="Password" type="password" class="placeholder-input" id="Password" required autocomplete="off" placeholder="Digite a senha">

                </div>
                <button type="submit" class="btnRoxo btn-submit" style="width: 100%">entrar</button>
            </div>
        </form>
    </div>
</div>