<nav>
    <div class="container nav-bar">
        <h3 id="logo">BanCode</h3>
        <div class="info">
            Olá, Suelen Marques! Sair
        </div>
    </div>
</nav>

<!--------- Hero com saldo -->
<div class="jumbotron hero">
    <h1 class="title-extrato">Saldo</h1>
    <h1 class="title-extrato">R$ 7.100,00</h1>
    <hr class="divider">
    <p id="conta">Ag 0123 CC 123456-0
        <br>Suelen Marques</p>
</div>

<!--------- Tabela de extrato -->
<div class="container">

    <a href="transferencias.html">
        <button type="submit" class="btnRoxo btn-submit" style="margin-bottom: 2rem;">Realizar transferência</button>
    </a>

    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Data</th>
                <th scope="col">Ultimas transações</th>
                <th scope="col">R$</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>21/01</td>
                <td>0456.78910-6 - Renata</td>
                <td class="transacao--negativa">R$ -350,00</td>
            </tr>
            <tr>
                <td>21/01</td>
                <td>0456.7890-6 - Gabriela</td>
                <td class="transacao--positiva">R$ 100,00</td>
            </tr>
            <tr>
                <td>21/01</td>
                <td>013.0456.56789-1 - Eldrin</td>
                <td class="transacao--positiva">R$ 150,00</td>
            </tr>
        </tbody>
    </table>
    <!--<button type="submit" class="btnRoxo btn-submit" style="margin-top: 2rem;">Conferir extrato completo</button> -->
</div>